@model RememberAB.Models.ContactsModel
@{
    ViewBag.Title = "AddContact";
}
<header>
    <h2>Add your contacts</h2>
</header>

<body>
    @using (Html.BeginForm("CreateContact", "Contacts", FormMethod.Post))
    {
    <div class="allForms">
        <div class="group">

            @Html.LabelFor(model => model.FirstName)
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="group">
            @Html.LabelFor(model => model.Surname)
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="group">
            @Html.LabelFor(model => model.BirthDate)
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    
        ​<div class="group">
            ​@Html.LabelFor(m => m.ConfirmEmail)
            ​@Html.EditorFor(m => m.ConfirmEmail)
        </div>
  
        <div class="allForms">
            <button type="submit">Add contact</button>
        </div>
    </div>
    }
</body>

@* För validering av input *@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
