@model List<RememberAB.Models.ContactsModel>
@{
    ViewBag.Title = "ContactView";
}

<h2>Contact Book</h2>

@using (Html.BeginForm("ContactView", "Contacts", FormMethod.Post))
{
<div>
    <input type="Text" id="firstName" name="firstName">
    <button type="submit" value="submit">Search</button>
</div>
}


@*@foreach (var contact in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => contact.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => contact.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => contact.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => contact.Email)
        </td>
        <td>
            @Html.ActionLink("Delete", "ContactDelete", new { id = contact.Id })
        </td>
    </tr>
    <br />
}*@

@{
    if (ViewBag.SearchKey != null)
    {
        <span>
            Search Key: @ViewBag.SearchKey
        </span>
    }
}

